h1{
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
}
td{
    text-align: center;
    background-color: lightgrey;
}
button{
    border-radius: 10px;
    background-color: rgb(197, 226, 236);
}